.car {
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 0px 40px 0px;
    padding: 20px;
    margin: 30px 30px 30px 30px;
    transition: transform .8s;
}

.car:hover {
    transform: scale(1.1, 1.1);
    background: linear-gradient(223deg, #58779ef0 31.69%, #b3b6b8 73.96%);
}

.image {
    margin-bottom: 20px;
    width: 240px;
    height: 180px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
}

.details-btn {
    display: inline-block;
    color: black;
    background: linear-gradient(127.12deg, #ffffff 31.69%, #b3b6b8 73.96%);
    padding: 12px 40px;
    box-shadow: 0px 2px 6px rgba(214, 214, 214, 0.55);
    border-radius: 10px;
    margin-top: 20px;
}

.heart {
    padding: 3px;
    font-size: 20px;
}

.count-likes {
    margin-left: 70px;
}

.car-like {
    display: flex;
}

.price{
color: #0036c0;
}